img{
    margin-left: 32%;
    margin-top: 6%;
}

.cardbox {
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  #sidebarButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: sandybrown;
    color: #fff;
    transition: left 0.3s ease;
  }
  
  #sidebar.open {
    left: 0;
  }
  
  #closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #menu {
    margin-top: 50px;
    padding: 0;
    list-style: none;
  }
  
  #menu li {
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  #menu li:hover {
    background-color: #8000ff;
  }
  
  #menu li a:visited{
    color: white;
  }
  
  #menu li a:active{
    color: red;
  }
  
  #socialIcons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #socialIcons {
    width: 30px;
    margin-right: 10px;
  }
  
  .hidden {
    display: none;
  }

@media screen and (max-width: 420px) {
    img{
        margin-left: 1px;
        width: 100%;
        height: 100%;
        margin-top: 40%;
    }
}